@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --orange: #FEB377;
    --bluepastel: #D7E9F7;
    --bone: #FDFCE5;
    --brownpastel: #F9F3DF;
    --bold: 900;
    --medium: 500;
    --regular: 400;
    --thin: 300;
}
body{
    width: 100vw;
    max-width: 100%;
    font-family: "Monserrat", sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* HEADER */
header{
    background-color: var(--orange);
    padding: 0.5rem 2rem 0.5rem 2rem;
    width: 100%;
    height: 4.5rem;
}
.logo{
    width: 3.4rem;
}
/* MENU */
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.menu i{
    font-size: 2rem;
    color: var(--bluepastel);
}
.container-items{
    width: 100%;
    order: 1;
    display: none;
}
.item{
    text-align: center;
    text-transform: uppercase;
    padding: 0.3rem 0;
}
/* FIN MENU */

/* SECTION ABOUT */
.about-section{
    background-color: var(--bone);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 8rem;
}
.about-content{
    font-size: 1.2rem;
    font-weight: var(--thin);
    margin: 1rem 3rem 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-content p:first-child{
    padding: 2rem 0 1rem 0;
    font-size: 1.8rem;
    font-weight: var(--bold);
}
.btn-hero{
    background-color: var(--bluepastel);
    color: #303030;
    font-size: 0.9rem;
    padding: 1rem 1rem;
    width: 20rem;
    border-radius: 1.5rem;
    border: 1px solid #303030;
    margin-top: 1.5rem;
}
.about-img{
    display: flex;
}
.imgabout{
    padding-top: 2rem;
    width: 400px;
    margin: auto;
}
.collaboration-section{
    background-color: var(--bone);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 8rem;
    border: 1px solid red;
}
.collaboration-content{
    font-size: 1.2rem;
    font-weight: var(--thin);
    margin: 1rem 3rem 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-collaboration a i{
    text-decoration: none;
    color: #303030;
}
.collaboration-img{
    display: flex;
}
.imgcollaboration{
    padding-top: 2rem;
    max-width: 400px;
    margin: auto;
}